In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Top_rated_movies1.csv')
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,168705,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,19766,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,248705,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,17711,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,580,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931

In [2]:
df.tail

<bound method NDFrame.tail of           id                                 title  \
0     168705                            BloodRayne
1      19766                    Inspector Gadget 2
2     248705            The Visitors: Bastille Day
3      17711  The Adventures of Rocky & Bullwinkle
4        580                     Jaws: The Revenge
...      ...                                   ...
8826   12142                     Alone in the Dark
8827    5491                     Battlefield Earth
8828   11059                     House of the Dead
8829   14164                  Dragonball Evolution
8830   40016            Birdemic: Shock and Terror

                                               overview  popularity  \
0     In 18th-century Romania, after spending much o...      17.499
1     After capturing Claw, all the criminals have g...      20.772
2     Stuck in the corridors of time, Godefroy de Mo...      18.828
3     Rocky and Bullwinkle have been living off the ...      16.436
4     After another deadly shark attack, Ellen Brody...      30.996
...                                                 ...         ...
8826  Edward Carnby is a private investigator specia...      12.499
8827  In the year 3000, man is no match for the Psyc...      19.133
8828  Set on an island off the coast, a techno rave ...      10.795
8829  On his 18th birthday, Goku receives a mystical...      38.646
8830  A platoon of eagles and vultures attacks the r...      13.853

     release_date  vote_average  vote_count
0      2005-10-22         4.105         501
1      2003-03-11         4.100         342
2      2016-03-23         4.090         636
3      2000-06-30         4.075         335
4      1987-07-17         4.064         931
...           ...           ...         ...
8826   2005-01-28         3.228         550
8827   2000-05-12         3.221         761
8828   2003-04-11         3.100         359
8829   2009-03-12         2.891        1925
8830   2010-02-27         2.106         306

[8831 rows x 7 columns]>

In [3]:
Top_movie=df
Top_movie

,id,title,overview,popularity,release_date,vote_average,vote_count
0,168705,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,19766,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,248705,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,17711,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,580,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931
...,...,...,...,...,...,...,...
8826,12142,Alone in the Dark,Edward Carnby is a private investigator specia...,12.499,2005-01-28,3.228,550
8827,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",19.133,2000-05-12,3.221,761
8828,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",10.795,2003-04-11,3.100,359
8829,14164,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",38.646,2009-03-12,2.891,1925
8830,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,13.853,2010-02-27,2.106,306

In [4]:
Top_movie.isna().sum()

id              0
title           0
overview        1
popularity      0
release_date    0
vote_average    0
vote_count      0
dtype: int64

In [5]:
Top_movie.dropna(inplace=True)

In [6]:
Top_movie.isna().sum()

id              0
title           0
overview        0
popularity      0
release_date    0
vote_average    0
vote_count      0
dtype: int64

In [18]:
c=Top_movie['vote_average'].mean()
c

6.639252095130239

In [20]:
m=Top_movie['vote_count'].quantile(0.9)
m

4796.4000000000015

In [22]:
movies=Top_movie.copy().loc[Top_movie['vote_count']>=m]
movies.shape

(883, 7)

In [24]:
def weighted_rating(x,m=m,c=c):
    v=x['vote_count']
    r=x['vote_average']
    return (v/(v+m)*r)+(m/(v+m)*c)

In [30]:
movies['score'] = movies.apply(weighted_rating,axis=1)
movies.head(10)

,id,title,overview,popularity,release_date,vote_average,vote_count,score
22,500,Reservoir Dogs,A botched robbery indicates a police informant...,42.079,1992-09-02,8.132,13425,7.739066
23,935,Dr. Strangelove or: How I Learned to Stop Worr...,After the insane General Jack D. Ripper initia...,32.055,1964-01-29,8.131,5176,7.413518
26,100,"Lock, Stock and Two Smoking Barrels",A card shark and his unwillingly-enlisted frie...,18.554,1998-08-28,8.125,6141,7.473452
43,49529,John Carter,"John Carter is a war-weary, former military ca...",75.456,2012-03-07,6.302,5276,6.462597
120,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",167.536,1972-03-14,8.708,18991,8.290866
121,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,179.959,1994-09-23,8.705,24985,8.372304
122,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,106.688,1974-12-20,8.589,11467,8.013981
123,424,Schindler's List,The true story of how businessman Oskar Schind...,81.656,1993-12-15,8.571,14813,8.098500
125,389,12 Angry Men,The defense and the prosecution have rested an...,66.507,1957-04-10,8.545,7805,7.819626
126,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",104.619,2001-07-20,8.540,15131,8.082502

In [32]:
movies[['title','vote_count','vote_average','score']].head(10)

,title,vote_count,vote_average,score
22,Reservoir Dogs,13425,8.132,7.739066
23,Dr. Strangelove or: How I Learned to Stop Worr...,5176,8.131,7.413518
26,"Lock, Stock and Two Smoking Barrels",6141,8.125,7.473452
43,John Carter,5276,6.302,6.462597
120,The Godfather,18991,8.708,8.290866
121,The Shawshank Redemption,24985,8.705,8.372304
122,The Godfather Part II,11467,8.589,8.013981
123,Schindler's List,14813,8.571,8.098500
125,12 Angry Men,7805,8.545,7.819626
126,Spirited Away,15131,8.540,8.082502

In [34]:
movies[['overview']]

                                               overview
22    A botched robbery indicates a police informant...
23    After the insane General Jack D. Ripper initia...
26    A card shark and his unwillingly-enlisted frie...
43    John Carter is a war-weary, former military ca...
120   Spanning the years 1945 to 1955, a chronicle o...
...                                                 ...
8418  Iconoclastic, take-no-prisoners cop John McCla...
8460  We always knew they were coming back. Using re...
8548  One thousand years after cataclysmic events fo...
8567  For centuries, a small but powerful force of w...
8783  Four young outsiders teleport to a dangerous u...

[883 rows x 1 columns]

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(stop_words='english')
movies['overview']=movies['overview'].fillna(' ')

In [46]:
tfidf_matrix=tfidf.fit_transform(movies['overview'])
print(tfidf_matrix)

  (0, 855)	0.16765748295553626
  (0, 5736)	0.1548477721104325
  (0, 3453)	0.17782512246107451
  (0, 5128)	0.11657964484421969
  (0, 3483)	0.17782512246107451
  (0, 5210)	0.16044342791996571
  (0, 4485)	0.16044342791996571
  (0, 248)	0.1548477721104325
  (0, 7323)	0.17782512246107451
  (0, 1590)	0.11350520961255932
  (0, 689)	0.17782512246107451
  (0, 7239)	0.1548477721104325
  (0, 6565)	0.14010814890888917
  (0, 7203)	0.13507603332117624
  (0, 4496)	0.5604325956355567
  (0, 7406)	0.12568003883774814
  (0, 4609)	0.17782512246107451
  (0, 4775)	0.16765748295553626
  (0, 5318)	0.16044342791996571
  (0, 4912)	0.17782512246107451
  (0, 794)	0.16765748295553626
  (0, 745)	0.17782512246107451
  (0, 7365)	0.17782512246107451
  (0, 5056)	0.16765748295553626
  (0, 4620)	0.16044342791996571
  :	:
  (882, 4607)	0.10842847388527585
  (882, 7485)	0.1734746963811254
  (882, 7539)	0.12541016309424502
  (882, 3990)	0.14816400232173144
  (882, 5870)	0.1542372750096454
  (882, 6080)	0.21987657225509555
  (882, 2701)	0.19117478314511094
  (882, 2278)	0.17046033057097293
  (882, 135)	0.1995782506362531
  (882, 6970)	0.1864612057340294
  (882, 6652)	0.1542372750096454
  (882, 7353)	0.2064443835199008
  (882, 3900)	0.2028550528274231
  (882, 2754)	0.1603576514789017
  (882, 1685)	0.15239986337005038
  (882, 7077)	0.1803408292647731
  (882, 2146)	0.14363943142167993
  (882, 3082)	0.23254793777502844
  (882, 7133)	0.2409514052661706
  (882, 5036)	0.22568180489138076
  (882, 6677)	0.2409514052661706
  (882, 1708)	0.25178535914650846
  (882, 4824)	0.26705495952129826
  (882, 326)	0.26705495952129826
  (882, 3612)	0.26705495952129826

In [52]:
from sklearn.metrics.pairwise import cosine_similarity
movie_similarity=cosine_similarity(tfidf_matrix)
movie_similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02634418, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.02160726,
        0.        ],
       ...,
       [0.        , 0.02634418, 0.        , ..., 1.        , 0.01967121,
        0.03853569],
       [0.        , 0.        , 0.02160726, ..., 0.01967121, 1.        ,
        0.06897996],
       [0.        , 0.        , 0.        , ..., 0.03853569, 0.06897996,
        1.        ]])